/* https://colorhunt.co/palette/ff9843ffdd9586a7fc3468c0 */
body {
     
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
span {
    color: white;
}
h1 {
    color: #f85646;
    font-weight: 700;
    font-size: 6em;
    margin: 0;
}
h2 {
    color: white;
}
h3 {
    color: white;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}


/*profile*/
.profile{
    background-color: black;
}
.profile_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 200px;

}
.profile_img {
    height: 100vh;    
}


.welcome_title{
    font-weight: 700;
    font-size: 2em;
}
.position_info{
    font-weight: 700;
    font-size: 3em;
    flex:1;
}
.profile_btns{
    display: flex;
    justify-content: flex-start;
    
}
.contact_btn {
    font-size: 1em;
    background-color: #f85646;
    color: white;
    text-align: left;
    cursor: pointer;
    border: none;
    padding: 15px;
    padding-right: 33px;
    padding-left: 33px;
    font-weight: 700;
}
.download_resume_btn{
    font-size: 1em;
    background-color: transparent;
    border: 1px solid #f85646;
    color: #f85646;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    padding-left: 19px;
    padding-right: 19px;
    font-weight: 700;
}
.social_icon_ul {
    margin-top: 40px;
    margin-bottom: 40px;
}
.social_icon {
    width: 5em;
    height: 5em;
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(48%) sepia(73%) saturate(1568%) hue-rotate(328deg) brightness(92%) contrast(111%);
    margin-right: 30px;

}

/*end profile*/

/* resume */
.my_resume {
    /* flex-direction: column; */
    background-color: #121212;
    height: auto;
    align-items: baseline;
    justify-content: space-evenly;
}
.resume_wrapper {
    background-color: #1e1e1e;
     
}
.resume_item{
    border-left: 3px solid #004294;
    position: relative;
    padding: 40px;
    border-bottom: 1px solid #313131;
     
}
.resume_arrow:before {
    display: block;
    background-color: #004294;
    position:absolute;
    height: 16px;
    width: 16px;
    content: "";
    left: 0;
}
.resume_arrow:after {
    border: 8px solid transparent;
    border-left-color: #004294;
    left: 16px;
    position: absolute;
    display: block;
    content: "";
}
.resume_details{
    color: #9f9f9f;
}
/* end resume*/

@media   (max-width: 1420px)  {
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding-top: 70px;
    }

    .profile_info {
        margin-right: 0px;
    }
    .profile_img {
        height: auto;
        /* flex-basis: 300px; */
        object-fit: cover;
        flex-shrink: 1;
    }
    h1{
        font-size: 9em;
    }
    .welcome_title{
        font-size: 4em;
    }
    .position_info{
        font-size: 4em;
    }
    .profile_btns{
        font-size: 5em;
    }
    .social_icon{
        width: 10em;
        height: 10em;
    }

    /* resume */
    .my_resume {
        align-items: center;
    }
    .resume_item {
        width: 800px;
    }
    /* end resume */
}
@media (max-width: 753px) {
    .flex-container{
        /* background-color: green; */
    }
    .profile_info{
        text-align: center;
        align-items: center;
    }
    .profile_img_container{
        flex: 1;
        max-width: 753px;
    }
    .social_icon {
        margin-right: 0px;
        margin-left: 15px;
        margin-left: 15px;
    }
    .profile_img {
        height: auto;
        object-fit: cover;
        flex-shrink: 1;
        flex-grow: 0;
        width: 100%;
    }
}
 